# {{ ansible_managed }}

[Time]
NTP={{ ntp_server }}

# Defaults from systemd for visibility/consistency
RootDistanceMaxSec=5
PollIntervalMinSec=32
PollIntervalMaxSec=2048
ConnectionRetrySec=30
SaveIntervalSec=60
